{% extends './base.html' %}
{% load static %}



{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        {% if liste_item_portfolio %}
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        {% endif %}       
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center" style="background: url({{ profil.photo_arriere_plan.url }})">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{ profil.prenom }} {{ profil.nom }}</h1>
      <p>I'm <span class="typed" data-typed-items="Leader, Developer, Freelancer, Otaku"></span></p>
      <div class="social-links">
        <a href={{ profil.lien_twitter }} class="twitter" target=_blank><i class="bx bxl-twitter"></i></a>
        <a href={{ profil.lien_instagram }} class="instagram" target=_blank><i class="bx bxl-instagram"></i></a>
        <a href={{ profil.lien_linkedin }} class="linkedin" target=_blank><i class="bx bxl-linkedin"></i></a>
        <a href={{ profil.lien_github }} class="github" target=_blank><i class="bx bxl-github"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src={{ profil.photo_profil.url }} class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Mobile Developer &amp; Django Developer.</h3>
            <p class="fst-italic">
              This is some informations about me...
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{ profil.date_anniversaire }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+237 {{ profil.numero_telephone }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ profil.localisation }}</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{ profil.niveau_etude }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ profil.email }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              {{ profil.bio }}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">
            <h4>Technologies</h4>
            <br>
            {% for skill in liste_skill_techno %}

              <div class="progress">
                <span class="skill">{{ skill.nom }} <i class="val">{{ skill.capacite }}</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.capacite }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            
            {% endfor %}
          </div>

          <div class="col-lg-6">
            <h4>Languages</h4>
            <br>
            {% for skill in liste_skill_langage %}

              <div class="progress">
                <span class="skill">{{ skill.nom }} <i class="val">{{ skill.capacite }}</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.capacite }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            
            {% endfor %}
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          {% if liste_experience %}
          
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Professional Experience</h3>
              {% for experience in liste_experience %}
                
                <div class="resume-item">
                  <h4>{{ experience.titre }}</h4>
                  <h5>{{ experience.periode_commencement }} - {{ experience.periode_fin }}</h5>
                  <p><em><strong>{{ experience.nom_compagnie}}</strong> | {{ experience.ville }}, {{ experience.pays }}</em></p>
                  <p>{{ experience.description }}</p>
                </div>
                
              {% endfor %}
              
              <h3 class="resume-title">Education</h3>
              {% for diplome in liste_diplome %}
              
                <div class="resume-item">
                  <h4>{{ diplome.intitule }}</h4>
                  <h5>{{ diplome.debut_annee }} - {{ diplome.fin_annee }}</h5>
                  <p><em><strong>{{ diplome.nom_etablisement }}</strong><br>{{ diplome.ville}}, {{ diplome.pays }}</em></p>
                </div>  
              
              {% endfor %}

            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Leadership &amp; Community Activities</h3>
              {% for comm in liste_communautaire %}

                <div class="resume-item">
                  <h4>{{ comm.role }}</h4>
                  <h5>{{ comm.period_commencement }} - {{ comm.periode_fin }}</h5>
                  <p><em>{{ comm.nom_compagnie }}, {{ comm.ville}}, {{ comm.pays }}</em></p>
                  <p>{{ comm.description }}</p>
                </div>

              {% endfor %}
            </div>
          {% else %}

            <h3 class="resume-title">Education</h3>
              {% for diplome in liste_diplome %}
              
                <div class="resume-item">
                  <h4>{{ diplome.intitule }}</h4>
                  <h5>{{ diplome.debut_annee }} - {{ diplome.fin_annee }}</h5>
                  <p><em><strong>{{ diplome.nom_etablisement }}</strong><br>{{ diplome.ville}}, {{ diplome.pays }}</em></p>
                </div>  
              
              {% endfor %}

            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Leadership &amp; Community Activities</h3>
              {% for comm in liste_communautaire %}

                <div class="resume-item">
                  <h4>{{ comm.role }}</h4>
                  <h5>{{ comm.period_commencement }} - {{ comm.periode_fin }}</h5>
                  <p><em>{{ comm.nom_compagnie }}, {{ comm.ville}}, {{ comm.pays }}</em></p>
                  <p>{{ comm.description }}</p>
                </div>

              {% endfor %}
            </div>

          {% endif %}
        </div>

      </div>
    </section><!-- End Resume Section -->

    {% if liste_item_portfolio %}
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Portfolio</h2>
          </div>

          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for item in liste_item_portfolio %}

              {% if item.categorie == "Application" %}

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <img src={{ item.image_projet_1.url }} class="img-fluid" alt="">
                    <div class="portfolio-info">
                      <h4>App</h4>
                      <div class="portfolio-links">
                        <a href={{ item.image_projet_1.url }} data-gallery="portfolioGallery" class="portfolio-lightbox" title="App"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'portfolio-detail' item.pk %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              {% else %}

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                  <div class="portfolio-wrap">
                    <img src={{ item.image_projet_1.url }} class="img-fluid" alt="">
                    <div class="portfolio-info">
                      <h4>Web</h4>
                      <div class="portfolio-links">
                        <a href={{ item.image_projet_1.url }} data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web"><i class="bx bx-plus"></i></a>
                        <a href={% url 'portfolio-detail' item.pk %} class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              {% endif %}
            
            {% endfor %}
          </div>

        </div>
      </section><!-- End Portfolio Section -->

    {% endif %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{ profil.localisation }}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{ profil.email }}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+237 {{ profil.numero_telephone }}</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action={% url 'sending-mail' %} method="post" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>You can call me Edghi</h3>
      <div class="social-links">
        <a href={{ profil.lien_twitter }} class="twitter" target=_blank><i class="bx bxl-twitter"></i></a>
        <a href={{ profil.lien_instagram }} class="instagram" target=_blank><i class="bx bxl-instagram"></i></a>
        <a href={{ profil.lien_linkedin }} class="linkedin" target=_blank><i class="bx bxl-linkedin"></i></a>
        <a href={{ profil.lien_github }} class="github" target=_blank><i class="bx bxl-github"></i></a>
      </div> 
    </div>
  </footer><!-- End Footer -->

{% endblock content %} 